<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd">     

	<bean name="address" class="com.goonok.Spring1App.ref.Address">
		<property name="city" value="Tongi"></property>
		<property name="district" value="Gazipur"></property>
	</bean>
	
	<bean name="student" class="com.goonok.Spring1App.ref.Student">
		<property name="name" value="Md. Alamin"></property>
		<property name="address" ref="address"></property>
	</bean>
		
	</beans>